<template name="email">
	
	<div class="flex-2 layout vertical">
		<div class="flex vertical center-justified center layout">
			<div class="email_text appear_right visible animated bounceInRight">{{_ "ouverture"}}</div>
			<div class="email_text_big appear_right visible animated bounceInRight">{{> countdown}}</div>
		</div>
	</div>

	<div class="flex-3">
		<div class="horizontal center-justified center layout">
			<div class="email_text_big appear_right visible animated bounceInRight">{{_ "inscription"}} </div>
		</div>
		<div class="horizontal center-justified center layout appear_right visible animated bounceInRight">
			<div class="horizontal layout">
				{{> emailForm}}
			</div>
		</div>
		<div class="horizontal center-justified center layout">
			<div class="email_text_mini appear_right visible animated bounceInRight">
				<p> {{_ "inscription_info"}}</p>
			</div>
		</div>
	</div>

</template>