<template name="presvg">


	<div class="layout vertical height100">
		<div id="milieu" class="flex horizontal layout">
			<div id="pub" class="flex-2 vertical layout">
				{{> pub}}
			</div>
			<div id="email" class="flex-1 vertical layout">
				{{> email}}
			</div>
		</div>
		<div id="milieu_smart" class="flex horizontal layout">
			{{> pubxs}}
		</div>


		{{> line}}
		<div class="space_fleche">
		</div>


		{{> flecheScroll ancre="screen3" type="fleche_bas_orange" direction="bas"}}

	</div>


</template>
