<template name="pubxs">
	<div vertical layout flex>
		<div flex nine id="zone_descriptionxs" vertical layout>
			<div flex id="pres_basexs">
				<div id="pub1xs" horizontal center-justified layout center class="appear_left hidden">
					<div> {{_ "pub1"}}
					</div>
				</div>
				<div id="pub2xs" horizontal center-justified layout center class="appear_left hidden">
					<div> {{_ "pub2"}} </div>
				</div>
			</div>
			<div flex id="pres_pdcxs" class="pres_box">
				<div vertical layout class="sub_pres_box">
					<div horizontal center-justified layout flex two>
						<div horizontal layout>
							<div class="logo_pdc_petit log">
							</div>
							<div horizontal layout center>
								<div class="box_title">{{_ "pdc"}}</div>
							</div>
						</div>
					</div>
					<div flex six class="box_develop">
						<ul>
							<li> {{_ "pdc1xs"}} </li>
							<li> {{_ "pdc2xs"}} </li>
							<li> {{_ "pdc3xs"}} </li>
						</ul>
					</div>
				</div>
			</div>
			<div flex id="pres_bulletinxs" class="pres_box">
				<div vertical layout class="sub_pres_box">
					<div horizontal center-justified layout flex two>
						<div horizontal layout>
							<div class="logo_bulletin_petit log">
							</div>
							<div flex horizontal layout center>
								<div class="box_title">{{_ "app"}}</div>
							</div>
						</div>
					</div>
					<div flex six class="box_develop">
						<ul>
							<li> {{_ "app1xs"}}</li>
							<li> {{_ "app2xs"}} </li>
							<li> {{_ "app3xs"}}</li>
						</ul>
					</div>
				</div>
			</div>
			<div flex id="pres_evalxs" class="pres_box">
				<div vertical layout class="sub_pres_box">
					<div horizontal center-justified layout flex two>
						<div horizontal layout>
							<div class="logo_eval_petit log">
							</div>
							<div horizontal layout center>
								<div class="box_title"> {{_ "eval"}} </div>
							</div>
						</div>
					</div>
					<div flex six class="box_develop">
						<ul>
							<li> {{_ "eval1xs"}}</li>
							<li> {{_ "eval2xs"}} </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div four>
		<div id="pub3xs" vertical center-justified layout center class="appear_left hidden">
			<div flex two horizontal layout>
				<div class="zone_log" data-action="pres_pdcxs">
					<div class="logo_pdc log">
					</div>
				</div>
				<div class="zone_log" data-action="pres_bulletinxs">
					<div class="logo_bulletin log">
					</div>
				</div>
				<div class="zone_log" data-action="pres_evalxs">
					<div class="logo_eval log">
					</div>
				</div>
			</div>
			<div flex class="sub_pubxs">{{_ "gratuit"}}</div>
		</div>
		</div>
	</div>
</template>