<template name="pubxs">
	<div class="vertical layout flex">
		<div class="flex-9 vertical layout" id="zone_descriptionxs">
			<div class="flex" id="pres_basexs">
				<div id="pub1xs" class="horizontal center-justified layout center appear_left">
					<div> {{_ "pub1"}}
					</div>
				</div>
				<div id="pub2xs" class="horizontal center-justified layout center appear_left">
					<div> {{_ "pub2"}} </div>
				</div>
			</div>
			<div class="flex pres_box" id="pres_pdcxs">
				<div class="vertical layout sub_pres_box">
					<div class="horizontal center-justified layout flex-2">
						<div class="horizontal layout">
							<div class="logo_pdc_petit log">
							</div>
							<div class="horizontal layout center">
								<div class="box_title">{{_ "pdc"}}</div>
							</div>
						</div>
					</div>
					<div class="flex-6 box_develop">
						<ul>
							<li> {{_ "pdc1xs"}} </li>
							<li> {{_ "pdc2xs"}} </li>
							<li> {{_ "pdc3xs"}} </li>
						</ul>
					</div>
				</div>
			</div>
			<div id="pres_bulletinxs" class="flex pres_box">
				<div class="vertical layout sub_pres_box">
					<div class="horizontal center-justified layout flex-2">
						<div class="horizontal layout">
							<div class="logo_bulletin_petit log">
							</div>
							<div class="flex horizontal layout center">
								<div class="box_title">{{_ "app"}}</div>
							</div>
						</div>
					</div>
					<div class="flex-6 box_develop">
						<ul>
							<li> {{_ "app1xs"}}</li>
							<li> {{_ "app2xs"}} </li>
							<li> {{_ "app3xs"}}</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="pres_evalxs" class="flex pres_box">
				<div class="vertical layout sub_pres_box">
					<div class="horizontal center-justified layout flex-2">
						<div class="horizontal layout">
							<div class="logo_eval_petit log">
							</div>
							<div class="horizontal layout center">
								<div class="box_title"> {{_ "eval"}} </div>
							</div>
						</div>
					</div>
					<div class="flex-6 box_develop">
						<ul>
							<li> {{_ "eval1xs"}}</li>
							<li> {{_ "eval2xs"}} </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="flex-4">
		<div id="pub3xs" class="vertical center-justified layout center appear_left">
			<div class="flex-2 horizontal layout">
				<div class="zone_log" data-action="pres_pdcxs">
					<div class="logo_pdc log">
					</div>
				</div>
				<div class="zone_log" data-action="pres_bulletinxs">
					<div class="logo_bulletin log">
					</div>
				</div>
				<div class="zone_log" data-action="pres_evalxs">
					<div class="logo_eval log">
					</div>
				</div>
			</div>
			<div class="flex sub_pubxs">{{_ "gratuit"}}</div>
		</div>
		</div>
	</div>
</template>