<template name="pubxs">
	<div vertical layout flex>
		<div id="zone_descriptionxs">
			<div id="pres_basexs">
				<div id="pub1xs" horizontal center-justified layout center class="appear_left hidden">
					<div> Copies, bulletins, conseils de classe...
					</div>
				</div>
				<div id="pub2xs" horizontal center-justified layout center class="appear_left hidden">
					<div> Gardez votre énergie pour vos élèves </div>
				</div>
			</div>
			<div id="pres_pdcxs" class="pres_box">
				<div vertical layout class="sub_pres_box">
					<div horizontal center-justified layout flex two>
						<div horizontal layout>
							<div class="logo_pdc_petit log">
							</div>
							<div horizontal layout center>
								<div class="box_title">Plan de classe</div>
							</div>
						</div>
					</div>
					<div flex six class="box_develop">
						<ul>
							<li> Création ultra rapide </li>
							<li> Ajoutez des contraintes de placement </li>
							<li> Modifiez votre plan comme vous le souhaitez </li>
						</ul>
					</div>
				</div>
			</div>
			<div id="pres_bulletinxs" class="pres_box">
				<div vertical layout class="sub_pres_box">
					<div horizontal center-justified layout flex>
						<div horizontal layout>
							<div class="logo_bulletin_petit log">
							</div>
							<div flex horizontal layout center>
								<div class="box_title">Appréciations</div>
							</div>
						</div>
					</div>
					<div flex three class="box_develop">
						<ul>
							<li> Appréciation de bulletin personnalisée</li>
							<li> Plus de 5000 appréciations </li>
							<li> Accords grammaticaux automatiques</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="pres_evalxs" class="pres_box">
				<div vertical layout class="sub_pres_box">
					<div horizontal center-justified layout flex>
						<div horizontal layout>
							<div class="logo_eval_petit log">
							</div>
							<div horizontal layout center>
								<div class="box_title"> Evaluations </div>
							</div>
						</div>
					</div>
					<div flex three class="box_develop">
						<ul>
							<li> Création et correction de devoirs simplifiées</li>
							<li> Conversion rapide et personnalisable des compétences en notes </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="pub3xs" vertical center-justified layout center class="appear_left hidden">
			<div flex two horizontal layout>
				<div class="zone_log" data-action="pres_pdcxs">
					<div class="logo_pdc log">
					</div>
				</div>
				<div class="zone_log" data-action="pres_bulletinxs">
					<div class="logo_bulletin log">
					</div>
				</div>
				<div class="zone_log" data-action="pres_evalxs">
					<div class="logo_eval log">
					</div>
				</div>
			</div>
			<div flex class="sub_pubxs">100% GRATUIT</div>
		</div>
	</div>
</template>