<template name="emailForm">
	<form is="iron-form" id="email" method="post" action="/form/handler" class="layout horizontal">
<paper-input name="email" class="flex-5 self-end" label={{_ "label_email"}}>
</paper-input>
<paper-button raised class="flex-1 self-end email_send" id="buttonEmailSend">OK</paper-button>
</form>
</template>

<template name="emailFormXS">
	<form is="iron-form" id="emailXS" method="post" action="/form/handler" class="layout horizontal">
<paper-input name="emailXS" class="flex-5 self-end" label={{_ "label_email"}}>
</paper-input>
<paper-button raised class="flex-1 self-end email_send" id="buttonEmailSendXS">OK</paper-button>
</form>
</template>