<template name="footerPres">
	<div class="layout vertical height100">
		{{> flecheScroll ancre="screenEnd" type="fleche_haut_orange" direction="haut"}}
		<div class="flex layout affichageFooter">
			<div class="flex vertical center-justified center layout">
				<div class="flex enteteFooter">
					<p>Qui sommes-nous ?</p>
				</div>
				<div class="flex-3 corpsFooter">
					<p>sdfsdf</p>
				</div>
			</div>

			<div class="flex vertical center-justified center layout">
				<div class="flex enteteFooter">
					<p>Nos engagements</p>
				</div>
				<div class="flex-3 corpsFooter">
					<p>sdfsdf</p>
				</div>
			</div>

			<div class="flex vertical center layout">
				<div class="flex enteteFooter">
					<p>Nous contacter</p>
				</div>
				<div class="flex-3 corpsFooter">
					<p>sdfsdf</p>
				</div>
			</div>

			<div class="flex vertical center-justified center layout">
				<div class="flex enteteFooter">
					<p>Nous suivre</p>
				</div>
				<div class="flex-3 corpsFooter">
					<p>sdfsdf</p>
				</div>
			</div>
		</div>
	</div>
</template>