<template name="layoutPublic">
	<div class="fit layout vertical">
		<paper-header-panel class="flex" mode="standard">
		{{> header}}
		<div id="container">

			<div id="screen1" class="screen">
				{{> presvg}}
			</div>

			<div id="screen3" class="screen">
				{{> screen3}}
			</div>

			<div id="screen2" class="screen">
				{{> screen2}}
			</div>

			<div id="screen4" class="screen">
				{{> screen4}}
			</div>

			<div id="screenEnd" class="screen">
				{{> screenEnd}}
			</div>

			<div id="footerPres" class="screen">
				{{> footerPres}}
			</div>
		</div>
		{{> paperToast}}
		</paper-header-panel>
	</div>
</template>