<template name="screen2">
	<div class="layout vertical height100">
		{{> flecheScroll ancre="screen3" type="fleche_haut_orange" direction="haut"}}
		<div class="notin_screen_xs height100">
			<div class="horizontal layout milieu_screen_2fleche">
				<div class="flex vertical layout zone_demi_screen  appear_left">
					<div class="flex horizontal center-justified layout">
						<div>
							<p class="titre_zone_screen2"> {{_ "futur1"}} <br>
								{{_ "futur2"}} </p>
							</div>
						</div>
						<div class="flex">
							<div class="flex horizontal center-justified layout">
								<div class="no_futur"></div>
							</div>
						</div>
					</div>
					<div class="flex vertical layout zone_demi_screen appear_right">
						<div class="flex horizontal center-justified layout">
							<div>
								<p class="titre_zone_screen2"> {{_ "futur3"}} <br>
									{{_ "futur4"}} </p>
								</div>
							</div>
							<div class="flex">
								<div class="flex horizontal center-justified layout">
									<div class="futur"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="flex notin_screen_sm">
					<div class="flex vertical layout milieu_screen_2fleche">
						<div class="flex-2 horizontal center-justified layout">
							<div class="email_text_big appear_left hidden">{{_ "inscription"}}</div>
						</div>
						<div class="flex-2 horizontal center-justified layout appear_left hidden">
							<div class="horizontal layout">
								{{> emailFormXS}}
						</div>
					</div>
					<div class="flex-2 horizontal center-justified layout">
						<div class="email_text_mini appear_left hidden">
							<p>{{_ "inscription_info"}}</p>
						</div>
					</div>
				</div>
			</div>
			{{> flecheScroll ancre="screen4" type="fleche_bas_orange" direction="bas"}}
		</div>
	</template>