<template name="screen3">
	<div class="layout vertical height100">
		{{> flecheScroll ancre="screen1" type="fleche_haut_bleu" direction="haut"}}
		<div class="flex notin_screen_xs height100">
		<div class="horizontal layout milieu_screen_2fleche">
				<div class="flex vertical layout">
					<div class="flex-2 horizontal center-justified layout appear_left">
						<div>
							<p class="titre_zone_screen3">{{_ "cible"}} <br>
								{{_ "taches_rep"}} </p>
							</div>
						</div>
						<div class="flex-3">
							<div class="flex horizontal center-justified center layout appear_left">
								<div class="cible"> </div>
							</div>
						</div>
					</div>

					<div class="flex vertical layout">
						<div class="flex-2 horizontal center-justified layout appear_right">
							<div>
								<p class="titre_zone_screen3"> {{_ "outil1"}} <br>
									{{_ "outil2"}}</p>
								</div>
							</div>
							<div class="flex">
								<div class="flex horizontal center-justified layout center">
									<div>
										<p class="titre_zone_screen3right appear_right"> {{_ "outil3"}} </p>
										<p class="titre_zone_screen3right appear_right"> {{_ "outil4"}}</p>
										<p class="titre_zone_screen3right appear_right"> {{_ "outil5"}}</p>
										<p class="titre_zone_screen3right appear_right"> {{_ "outil6"}}</p>
									</div>
								</div>
							</div>
						</div>		
					</div>
				</div>

<div class="flex notin_screen_sm height100">
		<div class="horizontal layout milieu_screen_2fleche">
			<div class="flex vertical layout zone_demi_screen">
						<div class="flex horizontal center-justified layout appear_left">
							<div>
								<p class="titre_zone_screen3">Notre cible</p>
							</div>
						</div>
						<div class="flex-2 horizontal center-justified layout appear_left">
								<div class="cible"> </div>
						</div>
						<div class="flex horizontal center-justified center layout appear_left">
							<div>
								<p class="titre_zone_screen3">
									les tâches répétitives </p>
								</div>
							</div>
						</div>
					</div>
					</div>

					{{> flecheScroll ancre="screen2" type="fleche_bas_bleu" direction="bas"}}
				</div>
			</template>