<template name="screenEnd">
	{{> flecheScroll ancre="screen4" type="fleche_haut_orange"}}
	<div horizontal layout class="milieu_screen_1fleche">
		<div flex vertical layout class="zone_screenEnd">
			<div flex horizontal center-justified center layout>
				<div>
					<p class="titre_zone_screenEnd appear_left">Conçu pour les profs</p>
					<p class="titre_zone_screenEnd appear_right"> Conçu par des profs </p>
					<p class="titre_zone_screenEnd appear_left"> Réalisé par des informaticiens </p>
				</div>
			</div>
			<div flex class="appear_right">
				<div flex horizontal center-justified center layout>
					<div class="increase"></div>
				</div>
			</div>
		</div>
	</div>
</template>