<template name="screen4">
	<div class="layout vertical height100">
	{{> flecheScroll ancre="screen2" type="fleche_haut_bleu" direction="haut"}}
	<div class="flex notin_screen_xs height100">
		<div class="horizontal layout milieu_screen_2fleche">
			<div class="flex vertical center-justified center layout">
				<div class="flex horizontal center-justified center layout appear_left">
					<div>
						<p class="titre_zone_screen4"> {{_ "simple"}} </p>
					</div>
				</div>
				<div class="flex">
					<div class="flex horizontal center-justified center layout appear_left">
						<div class="exemple_students"> </div>
					</div>
				</div>
			</div>


			<div class="flex vertical layout">
				<div class="flex horizontal center-justified center layout appear_right">
					<div>
						<p class="titre_zone_screen4"> {{_ "clair"}} </p>
					</div>
				</div>
				<div class="flex">
					<div class="flex horizontal center-justified layout appear_right">
						<div class="exemple_salles"> </div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="flex notin_screen_sm height100">
		<div class="horizontal layout milieu_screen_2fleche">
			<div class="flex vertical layout zone_demi_screen">
				<div class="flex horizontal center-justified layout">
					<div>
						<p class="titre_zone_screen4"> {{_ "simple_clair"}}</p>
					</div>
				</div>
				<div class="vertical layout flex-3">
					<div class="flex horizontal center-justified center layout">
						<div class="exemple_students"> </div>
					</div>
					<div class="flex horizontal center-justified center layout">
						<div class="exemple_salles"> </div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{> flecheScroll ancre="screenEnd" type="fleche_bas_bleu" direction="bas"}}
	</div>
</template>