<template name="screen3">
	<div layout vertical class="height100">
		{{> flecheScroll ancre="screen1" type="fleche_haut_bleu" direction="haut"}}
		<div flex class="notin_screen_xs height100">
		<div horizontal layout class="milieu_screen_2fleche">
				<div flex vertical layout>
					<div flex two horizontal center-justified layout class="appear_left">
						<div>
							<p class="titre_zone_screen3">{{_ "cible"}} <br>
								{{_ "taches_rep"}} </p>
							</div>
						</div>
						<div flex three>
							<div flex horizontal center-justified center layout class="appear_left">
								<div class="cible"> </div>
							</div>
						</div>
					</div>

					<div flex vertical layout>
						<div two horizontal center-justified layout class="appear_right">
							<div>
								<p class="titre_zone_screen3"> {{_ "outil1"}} <br>
									{{_ "outil2"}}</p>
								</div>
							</div>
							<div flex>
								<div flex horizontal center-justified layout center>
									<div>
										<p class="titre_zone_screen3right appear_right"> {{_ "outil3"}} </p>
										<p class="titre_zone_screen3right appear_right"> {{_ "outil4"}}</p>
										<p class="titre_zone_screen3right appear_right"> {{_ "outil5"}}</p>
										<p class="titre_zone_screen3right appear_right"> {{_ "outil6"}}</p>
									</div>
								</div>
							</div>
						</div>		
					</div>
				</div>

<div flex class="notin_screen_sm height100">
		<div horizontal layout class="milieu_screen_2fleche">
			<div flex vertical layout class="zone_demi_screen">
						<div flex horizontal center-justified layout class="appear_left">
							<div>
								<p class="titre_zone_screen3">Notre cible</p>
							</div>
						</div>
						<div flex two horizontal center-justified layout class="appear_left">
								<div class="cible"> </div>
						</div>
						<div flex horizontal center-justified center layout class="appear_left">
							<div>
								<p class="titre_zone_screen3">
									les tâches répétitives </p>
								</div>
							</div>
						</div>
					</div>
					</div>

					{{> flecheScroll ancre="screen2" type="fleche_bas_bleu" direction="bas"}}
				</div>
			</template>