<template name="screen3">
	{{> flecheScroll ancre="screen1" type="fleche_haut_bleu"}}
	<div class="notin_screen_xs">
		<div horizontal layout class="milieu_screen_2fleche">
			<div flex vertical layout class="zone_demi_screen">
				<div flex two horizontal center-justified layout class="appear_left">
					<div>
						<p class="titre_zone_screen3">Notre cible : <br>
							les tâches répétitives </p>
						</div>
					</div>
					<div flex three>
						<div flex horizontal center-justified layout class="appear_left">
							<div class="cible"> </div>
						</div>
					</div>
				</div>

				<div flex vertical layout class="zone_demi_screen">
					<div flex horizontal center-justified layout class="appear_right">
						<div>
							<p class="titre_zone_screen3"> Pour l'atteindre : <br>
								des outils</p>
							</div>
						</div>
						<div flex two>
							<div flex horizontal center-justified layout center>
								<div>
									<p class="titre_zone_screen3right appear_right"> - faciles à prendre en main </p>
									<p class="titre_zone_screen3right appear_right"> - puissants</p>
									<p class="titre_zone_screen3right appear_right"> - personnalisables</p>
									<p class="titre_zone_screen3right appear_right"> - compatibles avec word, excel, libre office,...</p>
								</div>
							</div>
						</div>
					</div>		
				</div>
			</div>

			<div class="notin_screen_sm">
				<div flex vertical layout class="milieu_screen_2fleche">
					<div flex one horizontal center-justified layout class="appear_left">
						<div>
							<p class="titre_zone_screen3">Notre cible</p>
							</div>
					</div>
					<div flex three>
						<div horizontal layout>
						<div flex horizontal center-justified layout class="appear_left">
							<div class="cible"> </div>
						</div>
						</div>
					</div>
					<div flex two horizontal center-justified center layout class="appear_left">
						<div>
							<p class="titre_zone_screen3">
							les tâches répétitives </p>
							</div>
					</div>
				</div>
			</div>

	{{> flecheScroll ancre="screen2" type="fleche_bas_bleu"}}
</template>