@import 'param';

.countdown{
  text-align: center;
}

.line{
  width: 100%;
  height: 4%;
}
@media @sm {
  #milieu_smart{
    display: none;
  }
}

@media @xs {
  #milieu{
    display: none;
  }
}

@-webkit-keyframes FadeIn1 {
  0% {
    opacity:0;
    .transform(scale(0.1));
  }
  100% {
    opacity:1;
    .transform(scale(1));
  }
}

@-moz-keyframes FadeIn1 {
  0% {
    opacity:0;
    .transform(scale(0.1));
  }
  100% {
    opacity:1;
    .transform(scale(1));
  }
}

@-webkit-keyframes FadeIn2 {
  0% {
    opacity:0;
    .transform(scale(0.1));
  }
  50% {
    .transform(scale(0.3));
  }
  100% {
    opacity:1;
    .transform(scale(1));
  }
}

@-moz-keyframes FadeIn2 {
  0% {
    opacity:0;
    .transform(scale(0.1));
  }
  50% {
    opacity:0.3;
  }
  100% {
    opacity:1;
    .transform(scale(1));
  }
}

#pub1 > h2{
  color: @color-pri;
  font-size: 2.2em;
  text-align: center;
  font-weight: bold;
  margin: 0px;
}

#pub1xs > h2{
  margin-top: 3vh;
  margin-bottom: 0px;
  height: 12vh;
  color: @color-pri;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
}

.sub_pubxs{
  padding-top: 3vh;
  color: @color-pri;
  font-size: 1.4em;
}

#pub2 > h1{
  color: @color-compl;
  font-size: 3.5em;
  text-align: center;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  margin: 0px;
}

#pub2xs{
  height: 39vh;
}

#pub2xs > h1{
  color: @color-compl;
  font-size: 2.3em;
  text-align: center;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}

.pres_box{
  .transform(scale(0.9));
  background-color: white;
  border: solid 2px @color-pri;
  box-shadow: 4px 4px 6px @color-pri-p1;
  display: none;
}

.sub_pres_box{
  height: 100%;
  width: 100%;
  margin-top: 0px;
  min-height: 216.594px;
}

@media @sm{
  .box_title{
    padding-left: 15px;
    color: @color-compl;
    font-size: 2.3em;
    text-align: center;
    font-weight: bold;
  }
}

@media @xs{
  .box_title{
    padding-left: 10px;
    color: @color-compl;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
  }
}

.box_develop ul{
  margin: 0px;
}

@media @sm{
  .box_develop{
    padding: 10px;
    color: @color-pri;
    font-size: 1.4em;
    line-height: 1.5em;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media @xs{
  .box_develop{
    padding: 5px;
    color: @color-pri;
    font-size: 1.3em;
    line-height: 1.4em;
  }
}

#email_zone{
  height: 79vh;
  .transform(scale(0.9));
}

.email_text{
  color: @color-pri;
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 10px;
}

@media @sm {
  .email_text_mini{
    color: @color-pri;
    font-size: 1.2em;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media @xs {
  .email_text_mini{
    color: @color-pri;
    font-size: 1.4em;
    text-align: center;
    margin: 10px;
  }
}

@media @sm {
  .email_text_big{
    color: @color-pri;
    margin: 10px;
    font-size: 2.3em;
    font-weight: bold;
  }
}

@media @xs {
  .email_text_big{
    color: @color-pri;
    margin: 20px;
    font-size: 2em;
    font-weight: bold;
  }
}

@-webkit-keyframes slidein {
  0% {
    margin-left: -4000px;
  }
  50% {
    margin-left: -4000px;
  }
  100% {
    margin-left: 0px;
  }
}

@-moz-keyframes slidein {
  0% {
    margin-left: -4000px;
  }
  50% {
    margin-left: -4000px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes slidein {
  0% {
    margin-left: -4000px;
  }
  50% {
    margin-left: -4000px;
  }
  100% {
    margin-left: 0px;
  }
}

#input_email{
  color: @color-compl;
  font-size: 1.1em;
}

.appear{
  .animation-name(FadeIn1);
  .animation-timing-function(ease-in);
  .animation-duration(1s);
}

paper-icon-button[icon="send"] {
  color: @color-compl;
  padding-top: 43px;
}
