@import 'param';
@media @sm {
	.increase{
		width: 200px;
		height: 170px;
		display: inline-block;
		background: url("/img/plp_meteor.svg") 0px -260px no-repeat;
	}
}

@media @xs {
	.increase{
		width: 200px;
		height: 170px;
		display: inline-block;
		background: url("/img/plp_meteor.svg") 0px -260px no-repeat;
		.transform(scale(0.8));
	}
}

.zone_screenEnd{
	height: 69vh;
}

@media @sm {
	.titre_zone_screenEnd{
		font-size: 2.4em;
		text-align: center;
		color: white;
		font-weight: bold;
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media @xs {
	.titre_zone_screenEnd{
		font-size: 1.6em;
		text-align: center;
		color: white;
		font-weight: bold;
		padding-left: 10px;
		padding-right: 10px;
	}
}